body{
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
li{
    float: right !important;
    text-align: left !important;
    cursor: pointer;
}

small{
    float: right !important;
}
ol{
    height: 200px; 
    overflow: auto;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.123);
}
input:focus{
    border: 0px solid white !important;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.247) !important;
}
.notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
  }
  
  .error-svg {
    color: #F87171;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .error-prompt-heading {
    color: #991B1B;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
  
  .error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }
  .all{
    justify-content: space-around !important;
  }
#smallin{
  float: left !important;
}
.smallout{
  text-align: left !important;

}
h6{
  margin-left: 30px;
}
select:focus{
  box-shadow: none !important;
  border: 0px solid white !important;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.247) !important;
}
select:hover{
  background-color: rgba(0, 0, 0, 0.178) !important;
}
select:option{
  background-color: rgba(0, 0, 0, 0.178) !important;
}
iframe {
  width: 100% !important;
  height: 50vh !important;
}
#btn2{
  float: right !important; 
}
#btn3{
  float: left !important; 
}
@media screen and (max-width: 475px){
  #map{
    width: 24px !important;
  }
  #btn2{
    float: none !important;
    
  }
}
#scndsh{
  word-wrap: break-word !important;
}
.curren{
  font-size: 14px !important;
  margin-left: -30px;
}
.containafter{
  background-color: rgba(255, 255, 255, 0.438);
}
input{
  background-color: transparent !important;
}